body {
    background: #CC99FF;
}

.wrapper { 
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
}

h1{
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: #155084;
    text-shadow: 1px 1px black;
}

form {
    display: flex;
    justify-content: center;
}

.searchbar {
    width: 35%;
    margin: 25px 25px;
    padding: 4px;
    border-radius: 4px;
}

.sugesstions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sugesstions > li {
    background: linear-gradient(#98FB98,#FA867E);
    padding-top: 2%;
    width: 45%;
    border-radius: 4px;
}

li {
    display: flex;
    justify-content: start;
}

.flex-outer {
    width: 960px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 1600px) {
    .header { 
        display: flex;
        justify-content: center;
    }
}